[submodule "aws-sdk-src/aws-sdk-java-v2"]
	path = aws-sdk-src/aws-sdk-java-v2
	url = https://github.com/aws/aws-sdk-java-v2.git
#[submodule "aws-sdk-src/aws-sdk-java-v1"]
#	path = aws-sdk-src/aws-sdk-java-v1
#	url = https://github.com/aws/aws-sdk-java.git
